/* Import the reindeer theme. */
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme. */
/* If somebody wants to extend the theme she will include this mixin. */
@mixin hybrid {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  button.v-nativebutton-menubutton.menubutton {
    height: 3em;
    font-size: large;
    border: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #300452), color-stop(0.73, #4C689C), color-stop(0.93, #B9C5D9));
    background-image: -o-linear-gradient(bottom, #300452 0%, #4C689C 73%, #B9C5D9 93%);
    background-image: -moz-linear-gradient(bottom, #300452 0%, #4C689C 73%, #B9C5D9 93%);
    background-image: -webkit-linear-gradient(bottom, #300452 0%, #4C689C 73%, #B9C5D9 93%);
    background-image: -ms-linear-gradient(bottom, #300452 0%, #4C689C 73%, #B9C5D9 93%);
    background-image: linear-gradient(to bottom, #300452 0%, #4C689C 73%, #B9C5D9 93%);
    color: white;
    border-bottom: 4px solid white;
    border-right: 0.5px solid white;
  }

  button:disabled.v-nativebutton-menubutton.menubutton {
    color: gray;
  }
}